EXPO_PUBLIC_SUPABASE_URL=https://sfniyudipwsaqwuhsdcq.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmbml5dWRpcHdzYXF3dWhzZGNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjAyNDc5MDcsImV4cCI6MjAzNTgyMzkwN30.JZnzWXjTRSSvSiN4iK__QUY2DmXF2_wB27zjSG3THLs
EXPO_PUBLIC_API_URL=https://served.mileshillary.com
EXPO_PUBLIC_WS_URL=wss://served.mileshillary.com/api/llm
